<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="shared-styles.html">

<dom-module id="single-reminder">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
        </style>


        <div>
            <h3>[[title]]</h3>
            <h4>[[date]]</h4>
            <p class="reminderNotes">[[notes]]</p>
        </div>


    </template>

    <script>
      SingleReminder = Polymer({
                            is: 'single-reminder',
                                 factoryImpl: function(title, date, notes) {
                                   this.title = title;
                                   this.date = date;
                                   this.notes = notes;
                                 }
                          });
    </script>
</dom-module>

<dom-module id="my-reminders">
    <template>
        <style include="shared-styles">
            :host {
                display: block;

                padding: 10px;
            }
            paper-input {
                max-width: 400px;
                margin: auto;
                padding: 0px 30px 0px 30px;
                display: inline-block;
            }
            paper-textarea {
                max-width: 400px;
                padding: 0px 30px 0px 30px;
            }
            .saveBtn {
                background-color: #4285f4;
                color: #fff;
                margin-top: 30px;
                margin-left: 350px;
            }
            .reminders-card {
                max-width: 600px;
            }
        </style>


        <div class="reminders-card">
            <div class="circle">4</div>
            <h1>Reminders</h1>

            <div>
                <paper-input label="Title" value="{{title}}"></paper-input>
                <paper-input label="Due date" type="date" value="{{date}}">
                </paper-input>

                <paper-textarea label="Notes" value="{{notes}}"></paper-textarea>
            </div>

            <paper-button class="saveBtn" on-tap="saveReminder">Save</paper-button>

            <div id="remindersPlaceholder"></div>
        </div>
    </template>

    <script>
      Polymer({
                is: 'my-reminders',
                properties: {
                  title: {
                    type: String, notify: true, reflectToAttribute: true
                  },
                  date: {
                    type: String
                  },
                  notes: {
                    type: String
                  }
                },
                saveReminder: function () {
                  var parent = this.$$('#remindersPlaceholder');

                  parent.appendChild(new SingleReminder(this.title, this.date, this.notes))
                }
              });
    </script>
</dom-module>
